@(job:JobEntity,postAJobForm: Form[PostAJobForm],userId:String) 
@import helper._
@import models.Alert
@main("Welcome to ScalaJobz.com",userId,Alert("","")) {

<div id="homewhite">
	<div class="page">
		<h1>Edit Job</h1>
		<div class="border-center">
			<div class="box-post">
				<div class="bordered">
					<form id="jobpost-form" class="form-horizontal" action="/editJob/@job.id" method="post">
						<table>
							<tr>
								<td>
									<div class="control-group">
										<label class="control-label" for="Position">Position</label>
										<div class="controls">
											<input id="Position" name="Position" type="text" value="@job.position" class="input-large"/>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="control-group">
										<label class="control-label" for="Company"> Company
											Name</label>
										<div class="controls">
											<input id="Company" name="Company" type="text" value="@job.company" class="input-large"/>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="control-group">
										<label class="control-label" for="Location"> Job
											Location</label>
										<div class="controls">
											<input id="Location" name="Location" type="text" value="@job.location" class="input-large"/>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="control-group">
										<label class="control-label" for="JobType"> Job Type</label>
										<div class="controls">
											<select id="JobType" name="JobType" class="input-large">
												<option value="">-- Select Job Type --</option>
												@Job.jobType.map{case(key, value)=>
												@if(job.jobType == value){
												<option value=@value selected="selected">@key</option>
												} else {
												<option value=@value>@key</option>
												}
												 }
											</select>


										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="control-group">
										<label class="control-label" for="Email_Addrss_To_Apply_To">Email
											Address</label>
										<div class="controls">
											<input id="Email_Addrss_To_Apply_To" name="Email_Addrss_To_Apply_To" type="text"
												value="@job.emailAddress" class="input-large"/>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="control-group">
										<label class="control-label" for="Skills">Skills
											Required</label>
										<div class="controls">
											<input id="Skills" name="Skills" type="text"
												value="@job.skillsRequired.mkString(",")" class="input-large"/>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="control-group">
										<label class="control-label" for="Description">Job
											Description</label>
										<div class="controls">
											<textarea id="Description" name="Description" rows="6"  style="resize: none;" 
												 class="input-tlarge">@job.description</textarea>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="control-group">
										<div class="controls">
											<input type="submit" value="Save" class="btn btn-primary" />
											<a href="/findJobPostByUserId"><input type="button" value="Cancel" class="btn btn-primary"/> </a>
										</div>
									</div>
								</td>
							</tr>
						</table>
					</form>
				</div>


			</div>


		</div>
	</div>
</div>
}
