@(alert: Alert) 
@main("Welcome to ScalaJobz.com",null,alert) {

<div id="homewhite">
	<div class="page">
		<h1>Recover Password</h1>
		<div class="border-center">
			<div class="box-post">
				<div class="bordered">
					<form id="forgetPassword_form" class="form-inline">
						<div class="control-group">
							<label class="control-label" for="EmailId">Email:</label>
							<div class="controls">
								<input id="EmailId" name="EmailId" type="text"
									placeholder="Email address" class="input-xlarge" />
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<button id="recoverpassword" type="submit"
									class="btn btn-primary">Recover Password</button>
								<img id="ajaxImageCtrl" src="@routes.Assets.at("/images/ajax-loader.gif")" style="display: none;" />
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="modal" class="modal hide fade">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<div id="headerMsg"></div>
	</div>

	<div class="modal-body">
		<div id="msg"></div>
	</div>

	<div class="modal-footer">
	    <input type="hidden" id="sendPassword" value="false">
		<button id="Ok" class="btn btn-primary" data-dismiss="modal">OK</button>
	</div>
</div>

<script type="text/javascript">
	$('#forgetPassword_form').submit(function(e) {
						var idToGet = $("#EmailId").val();
						if (!idToGet == "" && validateEmail(idToGet)) {
							document.getElementById("ajaxImageCtrl").style.display = 'inline'
							$
									.ajax({
										type : 'POST',
										url : '@routes.UserController.sendForgetPassword("' + idToGet + '")',
										success : function(data) {
											if (data == "false") {
												document.getElementById("ajaxImageCtrl").style.display = 'none'
												document.getElementById("headerMsg").innerHTML = '<h3 id="myModalLabel" class="alert-error">Failure</h3>'
												document.getElementById("msg").innerHTML = '<h3>No User Found with this EmailId !</h3>'
												$("#modal").modal("show");
											} else {
												document.getElementById("sendPassword").value = 'true';
												document.getElementById("headerMsg").innerHTML = '<h3 id="myModalLabel" class="alert-success">Success</h3>'
												document.getElementById("msg").innerHTML = '<h3>Password has been sent to your emailId !</h3>'
											    $("#modal").modal("show");
												
											}
										}
									});
							return false;
						}
					});
	
	$('#Ok').click(function(e) {
		var flag = $("#sendPassword").val();
		if(flag == "true")
			window.location = "/login"
	});
</script>
}
