@(alert: Alert) 
@main("Welcome to ScalaJobz.com",null,alert) {

<div id="homewhite">
	<div class="page">
		<h1>Recover Password</h1>
		<div class="border-center">
			<div class="box-post">
				<div class="bordered">
					<form id="forgetPassword_form" class="form-inline">
						<div class="control-group">
							<label class="control-label" for="EmailId">Email</label>
							<div class="controls">
								<input id="EmailId" name="EmailId" type="text"
									placeholder="Email address" class="input-xlarge" />
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<button id="recoverpassword" type="submit"
									class="btn btn-primary">Recover Password</button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('#forgetPassword_form').submit(
			function(e) {
				var idToGet = $("#EmailId").val();
				if(!idToGet == "" && validateEmail(idToGet)){
				$.ajax({
					type : 'POST',
					url : '@routes.UserController.sendForgetPassword("'	 + idToGet + '")',
					success : function(data) {
						if (data == "false")
							alert("No User Found with this EmailId")
						else {
							alert("Password has been sent to your emailId")
							window.location = "/login"
						}
					}
				});
				return false;
				}
			});
	
	
</script>
}
