@(alert: Alert,userId:String,jobs: List[Job])
@import java.text.SimpleDateFormat

@format_date(date: java.util.Date) = @{
	new SimpleDateFormat("MMM dd yyyy").format(date)
}
		<div id="logos">
			<div style="height: 100px;">
				<form action="" class="form-search" style="margin-top: 10px;">
					<div class="input-append">
						<input type="text" class="input-xxlarge" style="height:50px;font-size: 40px;color:#2884dd;">
						<input type="submit" value="Search" class="btn btn-primary" style="margin-top: 15px;"/>
					</div>

				</form>

			</div>
		</div>



@main("Welcome to Scalajobz.com",userId) {
    @if(alert.alertType != null){
   		<div class="alert alert-@alert.alertType">  
  			<a class="close" data-dismiss="alert">×</a>  
  			<strong>@alert.alertType ! </strong>@alert.message  
		</div> 
		}
    <div id="homewhite">
	<div class="page">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Position</th>
					<th>Company</th>
					<th>Location</th>
					<th>Type</th>
					<th>Date Posted</th>
				</tr>
			<tbody>
				@jobs.map { job =>
				<tr>
					<td>@job.position</td>
					<td>@job.company</td>
					<td>@job.location</td>
					<td>@job.jobType</td>
					<td>@format_date(job.datePosted)</td>
				</tr>
				}
			</tbody>
			</thead>
		</table>
	</div>
</div>
    
    
}