@(alert: Alert,userId:String,jobs: List[Job],editFlag:Boolean)
@import java.text.SimpleDateFormat

@format_date(date: java.util.Date) = @{
	new SimpleDateFormat("MMM dd yyyy").format(date)
}
		<div id="logos">
			<div style="height: 100px;">
				<form action="" class="form-search" style="margin-top: 10px;">
					<div class="input-append">
						<input id="searchString" type="text" class="input-xxlarge" style="height:50px;font-size: 40px;color:#2884dd;">
						<input id="search" type="submit" value="Search" class="btn btn-primary" style="margin-top: 15px;"/>
					</div>
				</form>
			</div>
		</div>



@main("Welcome to Scalajobz.com",userId,alert) {
   
    <div id="homewhite">
	<div class="page">
	<div id="alertHold"></div>
	@if(userId != null && jobs.isEmpty){
	<h5>No Job Posted by you. Click <a class="menulink" href="/postAJob">Here</a> to post a job. </h5>
	} else {
	
	<div id="search-result">
		<table id="results" class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>POSITION</th>
					<th>COMPANY</th>
					<th>LOCATION</th>
					<th>TYPE</th>
					<th>KEY SKILLS</th>
					<th>DATE POSTED</th>
					
					@if(editFlag == true){<th>OPTION</th>}
				</tr>
			<tbody>
				@jobs.map { job =>
				<tr>
					<td><a href="/jobDetail/@job.id"><b>@job.position</b></a></td>
					<td>@job.company</td>
					<td>@job.location</td>
					<td>@job.jobType</td>
					<td>@job.skillsRequired.mkString(",")</td>
					<td>@format_date(job.datePosted)</td>
					@if(editFlag == true){
					<td><a href="/findJobPostForEdit/@job.id"><i class="icon-pencil" title="Edit"></i> </a>
					&nbsp;<a href="#" onclick="confirmDeleteJob('@job.id');"><i class="icon-remove" title="Delete"></i> </a></td>}
				</tr>
				}
			</tbody>
			</thead>
		</table>
		<div id="myPager" class="pagination pagination-centered"></div>
		</div>
		  

		}
	</div>
</div>


 <script  type="text/javascript">
 
 window.setTimeout(function() { $(".alert").alert('close'); }, 5000);
 $(document).ready(function() {
	 showRecords(1,10);
	});
 
 $('#myPager').pagination(@jobs.size,{callback:function(page,component){
	 var itemperpage=10;
	 var from=((page + 1) - 1) * itemperpage + 1;
	 var to=from + itemperpage - 1;
	 showRecords(from,to);
	 console.info(page);
	}})
	
function showRecords(from, to) {          
     var rows = document.getElementById("results").rows;  
      // i starts from 1 to skip table header row  
     for (var i = 1; i < rows.length; i++) {  
         if (i < from || i > to)    
             rows[i].style.display = 'none';  
         else  
             rows[i].style.display = '';  
     }  
   }  
 
 $('#search').click(function(e) {
	 var editflag=@editFlag+""
	    var idToGet = $("#searchString").val();
	    $.ajax({
	        type : 'POST',
	        url : '@routes.PostAJobController.findAJob("' + idToGet + '","' + editflag + '")',
	        success : function(data) {
	        	 $('#search-result').html(data);
	        }
	    });
	    return false;
	});
 
 function confirmDeleteJob(jobId) {
	    var agree=confirm("Do You want to delete this job?");
	    if (agree==true)
	      {
	    	deleteJob(jobId);
	      }
	    else
	      {
	    	return false;
	      } 
	}

function deleteJob(jobId) {
	
	var editflag=@editFlag+""
	    $.ajax({
	        type : 'GET',
	        url : '@routes.PostAJobController.deleteJob("' + jobId + '","' + editflag + '")',
	        success : function(data) {
	        	$('#search-result').html(data);
	        	var addAlert='<div class="alert alert-success">';
       		 		addAlert += '<a class="close" data-dismiss="alert">×</a>' ; 
       	     		addAlert += '<strong style="text-transform: capitalize;">Success! </strong>Job Deleted Successfully </div>';
       	     		document.getElementById("alertHold").innerHTML = addAlert;
	        }
	    });
	    return false;
	}
	
 </script>   
    
}