@(job:JobEntity,userId:String)
@import java.text.SimpleDateFormat
@import models.Alert

@format_date(date: java.util.Date) = @{
	new SimpleDateFormat("MMM dd yyyy").format(date)
}
		
@main("Welcome to Scalajobz.com",userId,Alert("","")) {
   
    <div id="homewhite">
	<div class="page">
	<div id="jobheading">@job.position - @job.location</div>
				
					<Strong>Company:</Strong>
				
					<h3>@job.company</h3>
				
					<Strong>JobType:</Strong>
				
					<h3>@job.jobType</h3>
					
					<Strong>Date Posted:</Strong>
				
					<h3>@format_date(job.datePosted)</h3>
				
					<Strong>Email Address To Apply:</Strong>
				
					<a href="mailto:@job.emailAddress"><h3><u>@job.emailAddress</u></h3></a>
				
			<div class="separator-line"></div>
			<p>	@job.description</p>
				
		
	</div>
</div>
    
    
}