@(job:Job,userId:String)
@import java.text.SimpleDateFormat
@import models.Alert

@format_date(date: java.util.Date) = @{
	new SimpleDateFormat("MMM dd yyyy").format(date)
}
		
@main("Welcome to Scalajobz.com",userId,Alert(null,null)) {
   
    <div id="homewhite">
	<div class="page">
	<div class="jobHeading">@job.position - @job.location</div>
		
					
				
					<Strong>Company:</Strong>
				
					<h3>@job.company</h3>
				
					<Strong>JobType:</Strong>
				
					<h3>@job.jobType</h3>
				
					<Strong>Email Address:</Strong>
				
					<h3>@job.emailAddress</h3>
				
				
					<Strong>Date Posted:</Strong>
				
					<h3>@format_date(job.datePosted)</h3>
				
			<div class="separator-line"></div>
			<p>	@job.description</p>
				
		
	</div>
</div>
    
    
}