@(jobs: List[Job]) 
@import java.text.SimpleDateFormat

@format_date(date: java.util.Date) = @{
	new SimpleDateFormat("dd/MMM/yyyy").format(date)
}
@main("Welcome to scalajobz.com") {

<div id="homewhite">
	<div class="page">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Position</th>
					<th>Company</th>
					<th>Location</th>
					<th>Type</th>
					<th>Date Posted</th>
				</tr>
			<tbody>
				@jobs.map { job =>
				<tr>
					<td>@job.position</td>
					<td>@job.company</td>
					<td>@job.location</td>
					<td>@job.jobType</td>
					<td>@format_date(job.datePosted)</td>
				</tr>
				}
			</tbody>
			</thead>
		</table>
	</div>
</div>

}
