@(loginForm: Form[LogInForm],userId:String)
@import helper._ 
@main("Welcome to Scalajobz.com",userId) {

<div id="homewhite">
	<div class="page">
		<h1> Welcome to ScalaJobz.com</h1>
			<div class="border-center">
				<div class="box">
					<div class="bordered">
						<p class="text-info">Please login into <b>scalajobz.com </b>to post a job.
						 If you don't have a login, it's easy to  <a class="menulink" href="/signup">register</a>. </p>
					</div>


				</div>

				<div class="box">
					<div class="bordered">
						<h2>Login Here</h2>
						<form action="/login" method="post">
							<div class="control-group">
								<label class="control-label" for="EmailId">Email</label>
								<div class="controls">
									<input name="EmailId" type="text" placeholder="Email address" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="Password">Password</label>
								<div class="controls">
									<input name="Password" type="password" placeholder="Password" />
								</div>
							</div>

							<div class="control-group">
								<div class="controls">
									<input type="submit" value="LogIn" class="btn btn-primary" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
</div>


} 
