@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
<title>@title</title>

<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")" />
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/font.css")" />

<script src="@routes.Assets.at("javascripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.rotator.js")" type="text/javascript"></script>


</head>
<body>

	<div class="wrap">

		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">

					<div class="pull-right">
						<ul style="margin-right: 0">
							<li><a class="menulink" href="#">Find Jobs</a></li>
							<li><a class="menulink" href="#">Post a job</a></li>
							<li><a class="menulink" href="#">Help</a></li>
							<li style="padding-left: 15px"><a class="menulink" href="#">Log
									In</a></li>
						</ul>
					</div>
					<div class="pull-left">
						<ul class="nav">
							<li class="logo " style="padding: 0"><a style="padding: 0"
								href="/"><img alt="Scala Jobz" widht="50" height="50"
									src="@routes.Assets.at("/images/scala-logo.png")" /></a></li>
							<li><a class="menulink" href="/pricing">ScalaJobz.com</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="main" class="container">@content</div>

		<div id="footer">
			<div id="logos">
				<p>Copyright Knoldus.com</p>
			</div>
		</div>

	</div>

</body>
</html>
