@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
<title>@title</title>

<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")" />
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/font.css")" />

<script src="@routes.Assets.at("javascripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.rotator.js")" type="text/javascript"></script>


</head>
<body>

	<div class="wrap">

		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">

					<div class="pull-right">
						<ul style="margin-right: 0">
							<li><a class="menulink" href="#">Find Jobs</a></li>
							<li><a class="menulink" href="/postAJob">Post a job</a></li>
							<li><a class="menulink" href="/login">Login</a></li>
						</ul>
					</div>
					<div class="pull-left">
						<ul class="nav">
							<li class="logo " style="padding: 0"><a style="padding: 0"
								href="/"><img alt="Scala Jobz" widht="50" height="50"
									src="@routes.Assets.at("/images/scala-logo.png")" /></a></li>
							<li style="padding: 0"><a class="menulink" href="#">ScalaJobz.com</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
			<div id="logos">
				<div class="pull-right">

					<form action="" class="form-search" style="margin-top: 10px;">
						<div class="input-append">
							<input type="text" class="span2 search-query"> <input
								type="submit" value="Search" class="btn btn-primary" />
						</div>

					</form>

				</div>
			</div>
		


		<div id="main" class="container">@content</div>

		<div id="footer">
			<div id="logos">
				<p>Copyright &copy; Knoldus.com</p>
			</div>
		</div>

	</div>

</body>
</html>
