@(postAJobForm: Form[PostAJobForm],userId:String) 
@import helper._
@import models.Alert
@main("Welcome to ScalaJobz.com",userId,Alert("","")) {

<div id="homewhite">
	<div class="page">
		<h1>Post a Job </h1>
		<div class="border-center">
			<div class="box-post">
				<div class="bordered">
					<form id="jobpost-form" class="form-horizontal" action="/postAJob" method="post">
						<table>
							<tr>
								<td>
									<div class="control-group">
										<label class="control-label" for="Position">Position</label>
										<div class="controls">
											<input id="Position" name="Position" type="text" placeholder="Position" class="input-large"/>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="control-group">
										<label class="control-label" for="Company"> Company
											Name</label>
										<div class="controls">
											<input id="Company" name="Company" type="text" placeholder="Company" class="input-large"/>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="control-group">
										<label class="control-label" for="Location"> Job
											Location</label>
										<div class="controls">
											<input id="Location" name="Location" type="text" placeholder="Location" class="input-large"/>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="control-group">
										<label class="control-label" for="JobType"> Job Type</label>
										<div class="controls">
											<select id="JobType" name="JobType" class="input-slarge">
												<option value="">-- Select Job Type --</option>
												@Job.jobType.map{case(key, value)=>
												<option value=@value>@key</option> }
											</select>


										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="control-group">
										<label class="control-label" for="Email_Addrss_To_Apply_To">Email
											Address</label>
										<div class="controls">
											<input id="Email_Addrss_To_Apply_To" name="Email_Addrss_To_Apply_To" type="text"
												placeholder="Email Address To Apply To" class="input-large"/>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="control-group">
										<label class="control-label" for="Skills">Skills
											Required</label>
										<div class="controls">
											<input id="Skills" name="Skills" type="text"
												placeholder="Skills (Separated By Comma)" class="input-large"/>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="control-group">
										<label class="control-label" for="Description">Job
											Description</label>
										<div class="controls">
											<textarea id="Description" name="Description" rows="6"  style="resize: none;"
												placeholder="Description" class="input-tlarge"></textarea>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="control-group">
										<div class="controls">
											<input type="submit" value="Post Job" class="btn btn-primary" />
											<a href="/findJobPostByUserId"><input type="button" value="Cancel" class="btn btn-primary"/> </a>
										</div>
									</div>
								</td>
							</tr>
						</table>
					</form>
				</div>


			</div>


		</div>
	</div>
</div>
}
