@(userId:String,jobId:String) 
@import models.Alert 
@import models.PremiumJob 
@main("Welcome to Scalajobz.com",userId,Alert("","")){

<div id="homewhite">
	<div class="page">
		<h1>Premium Job</h1>
		<div class="border-center">
			<div class="box-post">
				<div class="bordered">
					@if(PremiumJob.jobType.isEmpty){ <span class="checkbox-label ">
						<h5>
							<a href="#" id="premiumJobs" class="btn btn-success" rel="popover"
								data-content="<h5>Types of Premium Job</h5>
								For Page #1 : $298.00 USD<br/>
								For Page #2 : $198.00 USD<br/>
								For Page #3 : $98.00 USD<br/>"
								data-original-title="Scalajobz Premium Jobs">Premium Job</a> <a
								onclick=openWin(); href="javascript:void(0);">
						   </a> 
						   Not Available.Please Try again later. 
						   <img class="helpImg" src="@routes.Assets.at(" images/Help.png")" alt="Learn More" title="Learn More" />
						</h5>
					</span> 
					<br /> 
					<a href="/denyForPremiumJob"> 
						<input type="button"	value="OK" class="btn btn-primary" /><br/>
					</a> } else{
					<label class="checkbox checkbox-label "> <input
						type="checkbox" id="checkBox" onclick="displayPremiumJob();">
						Do you want this to be a <a href="#" id="premiumJob"
						class="btn btn-success" rel="popover"
						data-content="<h5>Types of Premium Job</h5>
								For Page #1 : $298.00 USD<br/>
								For Page #2 : $198.00 USD<br/>
								For Page #3 : $98.00 USD<br/>"
						data-original-title="Scalajobz Premium Jobs">Premium Job?</a> <a
						onclick=openWin(); href="javascript:void(0);"> <img
							class="helpImg" src="@routes.Assets.at("images/Help.png")" alt="Learn More" title="Learn More" />
					</a>
					</label>


					<div id="premiumJobDiv" class="premiumJobDiv"
						style="display: none;">
						<form id="premiumJobForm"
							action="https://www.paypal.com/cgi-bin/webscr" method="post"
							onsubmit="return isPremiumJobExistForAPage();">
							<input type="hidden" name="cmd" value="_s-xclick"> <input
								type="hidden" name="hosted_button_id" value="NLJLQ9NZB3LUY">
							<input type="hidden" name="business" value="vikas@@knoldus.com">
							<table>
								<tr>
									<td class="checkbox-label"><input type="hidden" name="on0"
										value="Listing valid for 10 days">Listing valid for 10
										days</td>
								</tr>
								<tr>
									<td><select name="os0" id="os0" onchange="setPage();">
											@PremiumJob.jobType.map{case(key, value)=>
											<option value=@key>@value</option> }
									</select></td>
								</tr>
							</table>
							<input type="hidden" name="currency_code" value="USD"> <input
								type="image"
								src="https://www.paypalobjects.com/en_GB/i/btn/btn_buynowCC_LG.gif"
								border="0" name="submit"
								alt="PayPal — The safer, easier way to pay online."> <img
								alt="" border="0"
								src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif"
								width="1" height="1"> <input type="hidden" name="rm"
								value="1"> <input type="hidden" name="notify_url"
								value="http://www.scalajobz.com/paypalCallback" /> <input
								type="hidden" name="custom" value="@jobId">
						</form>

                   <span class="note"> <b>Note:Please click on <u>Return to  Knoldus Software LLP</u>  after completion of your payment 
                      (This option is available in the bottom of Paypal page during transaction).
                      Otherwise Transaction would not be complete.</b></span>

						}
					</div>
					<a href="/denyForPremiumJob"><input type="button"
						value="Not Now" class="btn btn-primary" /> </a> <br/><br/>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="modal" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Premium Job Not Available</h3>
	</div>
	<div class="modal-body">
		<p>Premium Job For Requested Page Is Not Available.Please Try
			Another Option Or Try Again Later.</p>
	</div>
	<div class="modal-footer">
		<button id="Ok" class="btn btn-primary" data-dismiss="modal">OK</button>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		if (document.getElementById('checkBox') != null)
			document.getElementById('checkBox').checked = false;
		$("#premiumJob").popover();
		$("#premiumJobs").popover();
		setPage();
	});

	function displayPremiumJob() {
		var checkBoxId = document.getElementById('checkBox')
		if (checkBoxId.checked == true)
			document.getElementById("premiumJobDiv").style.display = 'block';
		else
			document.getElementById("premiumJobDiv").style.display = 'none';
	}

	function setPage() {
		var e = document.getElementById("os0");
		if (e != null) {
			var page = e.options[e.selectedIndex].value;
			$.ajax({
				type : 'GET',
				url : '@routes.PremiumJobController.setPageForPremiumJob("' + page + '")',
				success : function(data) {
				}
			});
		}
		return false;
	}

	function openWin() {
		myWindow = window.open('/premiumJobDetail', '',
				'width=800,height=400,resizable=1,scrollbars=1');
		myWindow.focus();
	}

	function isPremiumJobExistForAPage() {
		var e = document.getElementById("os0");
		var page = e.options[e.selectedIndex].value;
		var paypalFlag = 'false';
		$.ajax({
			type : 'GET',
			async : false,
			url : '@routes.PremiumJobController.countPremiumJobsForAPage("' + page + '")',
			success : function(data) {
				paypalFlag = data;
			}
		});
		if (paypalFlag == 'false') {
			$("#modal").modal("show");
			return false;
		} else {
			return true;
		}

	}
</script>


}
