<html>
<head>
<title>Premium Job Details</title>
<script type="text/javascript">
function closeWin()
{
this.close();
}
</script>

</head>
<body>
<a href="javascript:void(0);" onclick=" closeWin();">Close This Window</a>
<h1>Premium Job Policy</h1>
<p>Post your job on Scalajobz a community driven job portal for Scala jobs. 
There have been multiple requests in the past to allow for Sticky job posting. 
Please read <a href ="https://github.com/knoldus/scalajobz/issues/17">https://github.com/knoldus/scalajobz/issues/17</a>
</p>
<h2>What is Premium Job?</h2>
<p>It is a sticky job for pages <b>1,2 and 3. </b>
 There are <b>2</b> premium jobs per page(for first three pages only) which would show on the top of the page and stay there for next <b>10 </b>days.</p>

<h2>Why do I need a premium job post?</h2>
	<div class="showBullet">
	<ul>
	<li>Maximise the visibility of your job postings and attract more candidates to your jobs.</li>
	<li>It would be visible right on the top always for the next 10 days.</li>
	<li>Job post receives a distinguished level of exposure on the jobs page by appearing with a  <img src="/assets/images/star.png"/>.</li>
	<li>Your job will be amongst the top  results in the relevant search filters.</li>
	<li>Premium jobs have a place of their own, they do not scroll down like other jobs when new jobs are added.</li>
	<li>All the people who have signed for job mailers, get the premium job everyday along with their job search criteria in their email.</li>
	</ul>
	</div>
	<h2>Premium Job Posting Packages</h2>
	<ul>
	<li><b>Page 1:  $298</b></li>
	<li><b>Page 2:  $198</b></li>
	<li><b>Page 3:  $98</b></li>
	</ul>
	<h2>Questions?</h2>
	If you have questions or require clarifications then please feel free to send us a message at 	
	<a href="mailto:scalajobz@@gmail.com">
	<h3><u>scalajobz@@gmail.com</u></h3></a>
	<a href="javascript:void(0);" onclick=" closeWin();">Close This Window</a>
</body>
</html>
