@(result: List[JobEntity]) 
@import java.text.SimpleDateFormat
@format_date(date: java.util.Date) = @{ new SimpleDateFormat("MMM dd yyyy").format(date) } 
@if(!result.isEmpty){
<fieldset>
    	<legend class="legend">Premium Jobs</legend>
<table class="table table-bordered table-striped table-condensed premiumJobTable">
	<thead>
		<tr>
					<th width="30%;">POSITION</th>
					<th width="20%;">COMPANY</th>
					<th width="20%;">LOCATION</th>
					<th width="10%;">TYPE</th>
					<th width="10%;">POSTED</th>
		</tr>
	</thead>
	<tbody data-provides="rowlink">
		@result.map { job =>
		<tr>
			<td width="30%;">
					<a href="/jobDetail/@job.id"><img src="@routes.Assets.at("images/star.png")"  alt="Premium Job" title="Premium Job" class="star"/><b>@job.position</b></a>
			</td>
			<td width="20%;">@job.company</td>
			<td width="20%;">@job.location</td>
			<td width="10%;">@job.jobType</td>
			<td width="10%;">@format_date(job.datePosted)</td> 
		</tr>
		}
		</tbody>
</table>
</fieldset>
<div class="separator-line-premium"></div>
}
<script src="@routes.Assets.at("javascripts/bootstrap-rowlink.js")" type="text/javascript"></script>
