@(userId:String) 
@import models.Alert 
@main("Welcome to Scalajobz.com",userId,Alert("","")) {

<div id="homewhite">
	<div class="page">
		<div class="showBullet">
			<h1>ScalaJobz Privacy Policy</h1>
			<p>This Privacy Policy details certain policies implemented
				throughout ScalaJobz governing ScalaJobz's use of personally
				identifiable information provided to ScalaJobz via this Site or
				otherwise. ScalaJobz is a product created by Knoldus Software LLP as
				a community initiative.</p>
			<h3>Privacy Policy Updates</h3>
			<p>Due to the Internet's rapidly evolving nature, ScalaJobz may
				need to update this Privacy Policy from time to time. If so,
				ScalaJobz will post its updated Privacy Policy on our Site.
				ScalaJobz encourages you to review this Privacy Policy regularly for
				any changes. Your continued use of this Site and/or continued
				provision of personally identifiable information to ScalaJobz will
				be subject to the then-current Privacy Policy.</p>
			<h3>Information Collection and Use</h3>
			<p>You can generally visit our Site without revealing any
				personally identifiable information about yourself. However, for use
				of certain services you may be may required to provide personally
				identifiable information.</p>
			<p>We may obtain information about you from various sources,
				including our Sites, when you call or email us or communicate with
				us through social media, or when you participate in events, contests
				or other promotions.</p>
			<p>
				<b> The types of information we may obtain include: </b>
			</p>
			<ul>
				<li>Your Personal Information, if you choose to provide it or
					if we obtain it in the manner described above. You do not have to
					give us any Personal Information in order to perform job searches
					or to read the content portions of the Sites.</li>
				<li>Username and password for the account you may establish on
					our Sites.</li>
				<li>Payment details (including payment card number, security
					code, expiration date, cardholder name and billing address) if you
					buy products on our Sites.</li>
				<li>Your demographic information (such as zip or postal code,
					occupation, education and experience, and if you choose to provide
					it, age, gender and race or ethnicity). We collect this information
					either through the registration process, from your resume or in the
					manner described above.</li>
				<li>Job search behaviour and preferences, and a record of the
					searches that you make on our Sites. We do this in order to present
					you with job recommendations based on your interests as expressed
					previously through your searches.</li>
				<li>Other details that you may submit to us or that may be
					included in the information provided to us by third parties.</li>
			</ul>
			<h3>How We Use the Information We Collect</h3>
			<p>
				<b>We may use the information we obtain about you to:</b>
			</p>
			<ul>
				<li>Register, manage and maintain your account on the Sites.</li>
				<li>Provide products or services you request.</li>
				<li>Process, validate and deliver your purchases (including by
					processing payment card transactions and contacting you about your
					orders, including by telephone).</li>
				<li>Maintain a record of the jobs you view or apply to on our
					Sites.</li>
				<li>Inform you of relevant job postings that may be of interest
					to you.</li>
				<li>Provide administrative notices or communications applicable
					to your use of the Sites.</li>
				<li>Respond to your questions and comments and provide customer
					support.</li>
				<li>Contact you and deliver information to you that, in some
					cases, is targeted to your interests (such as relevant services,
					educational or other career development opportunities); enable you
					to communicate with us through our blogs, social networks and other
					interactive media; and solicit your feedback and input. These
					communications will contain links for preference management and,
					where appropriate, unsubscribe links should you decide you do not
					want to receive further communications.</li>
				<li>Manage your participation in our events and other
					promotions, where you have signed up for such events and
					promotions.</li>
				<li>Operate, evaluate and improve our business and the products
					and services we offer.</li>
				<li>Analyze and enhance our marketing communications and
					strategies (including by identifying when emails we have sent to
					you have been received and read).</li>
				<li>Analyze trends and statistics regarding visitors’ use of
					our Sites, mobile applications and social media assets, and the
					jobs viewed or applied to on our Sites.</li>
				<li>Protect against and prevent fraud, unauthorized
					transactions, claims and other liabilities, and manage risk
					exposure, including by identifying potential hackers and other
					unauthorized users.</li>
				<li>We also use non-personally identifiable information and
					certain technical information about your computer and your access
					of the Sites (including your internet protocol address) in order to
					operate, maintain and manage the Sites. We collect this information
					by automated means, such as cookies and web beacons, as described
					in more detail below.</li>
				<li>If we seek to use the information we obtain about you in
					other ways, we will provide specific notice and request your
					consent at the time of collection.</li>
			</ul>

			<h3>Children's Privacy</h3>
			<p>ScalaJobz is committed to protecting the privacy needs of
				children and we encourage parents and guardians to take an active
				role in their children's online activities and interests.
				ScalaJobz's services and this Site are not intended for and may not
				be used by children under the age of 13. ScalaJobz does not target
				its services or this Site to children under 13.</p>
			<h3>Cookies</h3>
			<p>We may use small text files called cookies to improve overall
				Site experience. A cookie is a piece of data stored on the user's
				hard drive containing information about the user. Cookies generally
				do not permit us to personally identify you. Some advertisements
				that might appear on this Site are delivered to you by our
				advertising partners. Our advertising partners may download cookies
				to your computer. Doing this allows the advertising network to
				recognize your computer each time they send you an advertisement. In
				this way, they may compile information about where you, or others
				who are using your computer, saw their advertisements and determine
				which advertisements are clicked. This information allows an
				advertising network to deliver targeted advertisements that they
				believe will be of most interest to you. We do not have access to or
				control of the cookies that may be placed by the third party
				advertisers.</p>
			<h3>Aggregate Information</h3>
			<p>Our Site may track the total number of visitors to our Site,
				the number of visitors to each page of our Site, IP addresses,
				External Web Sites (defined below) linked to, search terms and the
				domain names of our users' Internet Service Providers, and we may
				analyze these data for trends and statistics in the aggregate, but
				such information will be maintained, used and disclosed in aggregate
				form only and it will not contain personally identifiable
				information. We also may collect aggregate labor statistics from
				public records. Such aggregate information is not linked to any
				personal information that can identify any individual person. We may
				use such aggregate information to analyze trends, administer our
				Site, track users' movement, and gather broad demographic
				information for aggregate use. We may share this aggregate
				information with third parties, including for various reasons
				related to our business to assist them in targeting advertisements
				to appropriate audiences.</p>
			<p>We may disclose your aggregate information to our partner
				entities that provide job networking services to us to improve the
				content and general administration of our Site. In no way a
				peronally identifiable information would be shared.</p>
			<h3>Links to Third Party Sites</h3>
			<p>Our Site may provide links to other Web sites or resources
				over which ScalaJobz does not have control ("External Web Sites")
				through use of our APIs. Such links do not constitute an endorsement
				by ScalaJobz of those External Web Sites. You acknowledge that
				ScalaJobz is providing these links to you only as a convenience, and
				further agree that ScalaJobz is not responsible for the content of
				such External Web Sites. Your use of External Web Sites is subject
				to the terms of use and privacy policies located on the linked to
				External Web Sites.</p>
			<h3>Processing of Personal Information</h3>
			<p>Our computer systems are currently based in the United States,
				so your personal data will be processed by us in the U.S. where data
				protection and privacy regulations may not offer the same level of
				protection as in other parts of the world, such as the European
				Union. If you create a user account with our Site as a visitor from
				outside the United States, by using our Site you agree to this
				Privacy Policy and you consent to the transfer of all such
				information to the United States, which may not offer an equivalent
				level of protection of that required in the European Union or
				certain other countries, and to the processing of that information
				as described in this Privacy Policy.</p>
		</div>
	</div>
</div>


}
