@(userId:String) 
@import models.Alert 
@import models.Common

@main("Welcome to Scalajobz.com",userId,Alert("","")) {

<div id="homewhite">
	<div class="accordion" id="accordion2">
		<div class="accordion-group">
			<div class="accordion-heading headingRow">
				<a class="accordion-toggle" data-toggle="collapse"
					data-parent="#accordion2" href="#collapseOne">
					<h2>To Get Json For All Jobs</h2>
				</a>
			</div>
			<div id="collapseOne" class="accordion-body collapse"
				style="height: 0px;">
				<div class="accordion-inner">
					<h3>REST Endpoint(URL) :</h3>
					<p>
						<b>http://Host:Port/URL</b>
					</p>
					<h3>HTTP Method:</h3>
					<p>
						<b>GET</b>
					</p>
					<h3>Request Example:</h3>
					<p>
						<b><a onclick=open_win('http://@Common.getContextUrl/getAllJobs') href="javascript:void(0);">
								<u>http://@Common.getContextUrl/getAllJobs</u>
						</a></b>
					</p>
					<h3>Request Parameters[Optional]:</h3>
					<p><b>page</b> : Page requested. Default is 1 </p>
					<p><b>jobsPerPage</b> : Maximum number of results returned per query. Default is 50</p>
					<p><b>Request Example with parameters</b> : <b><a onclick=open_win('http://@Common.getContextUrl/getAllJobs?page=1&jobsPerPage=50') href="javascript:void(0);">
								<u>http://@Common.getContextUrl/getAllJobs?page=1&jobsPerPage=50</u>
						</a></b>
					<h3>Response Example:</h3>
					<p>
					<pre>[
{
"jobId":"5100f849e4b0fb5e4cbe8503",
"position":"Rails Developer",
"company":"Payette Group",
"location":" CA,US",
"jobType":"Permanent",
"contactAddress":"http://www.indeed.com/viewjob?jk=fa7393bb64467a86&qd=QcBnEqZDXU8p864TOL3UZFhKkkyX46rImtTZhlwMt8hUKlA5_sqQdcuF9b4do1OOSrBEcndkbUgrY3o6j8AP4HkEqWfO2g1f8KrZbrwmsSiptQI94s5DsPOzRyYMc52A&indpubnum=6096237122531948&atk=17hlsjlpp0k2h7ag",
"skillsRequired":[
"scala"
],
"description":"Mgt. (BPM, Rules / Constraints engine) Rails Ecosystem (Grails, Groovy, Scala, Erlang) Experience working and deploying on Linux systems (required) Familiarity...",
"datePosted":"2013-01-24T09:00:57Z",
"contactType":"url"
},
{
"jobId":"5100f849e4b0fb5e4cbe8502",
"position":"Senior Rails Developer",
"company":"Payette Group",
"location":" CA,US",
"jobType":"Permanent",
"contactAddress":"http://www.indeed.com/viewjob?jk=7a6a2ae1b25e9fe2&qd=QcBnEqZDXU8p864TOL3UZFhKkkyX46rImtTZhlwMt8hUKlA5_sqQdcuF9b4do1OOSrBEcndkbUgrY3o6j8AP4HkEqWfO2g1f8KrZbrwmsSiptQI94s5DsPOzRyYMc52A&indpubnum=6096237122531948&atk=17hlsjlpp0k2h7ag",
"skillsRequired":[
"scala"
],
"description":"Mgt. (BPM, Rules / Constraints engine) Rails Ecosystem (Grails, Groovy, Scala, Erlang) Experience working and deploying on Linux systems (required) Familiarity...",
"datePosted":"2013-01-24T09:00:57Z",
"contactType":"url"
}
]
						</pre>
					</p>
					<h3>Error Response :</h3>
					<p>
						{<br /> "alertType":"No Result Found",<br /> "message":"No Job
						Exist"<br /> }
					</p>
					<h3>Authentication Required:</h3>
					<p>No</p>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading headingRow">
				<a class="accordion-toggle" data-toggle="collapse"
					data-parent="#accordion2" href="#collapseTwo">
					<h2>To Get Jobs Json For Search Query</h2>
				</a>
			</div>
			<div id="collapseTwo" class="accordion-body collapse"
				style="height: 0px;">
				<div class="accordion-inner">
					<h3>REST Endpoint(URL) :</h3>
					</b>
					<p>http://Host:Port/URL/[QUERY_STRING]</p>
					<h3>HTTP Method:</h3>
					<p>GET</p>
					<h3>Request Example:</h3>
					<p>
						<a onclick=open_win('http://@Common.getContextUrl/getJobsForACriteria/scala+knoldus') href="javascript:void(0);">
							<u>http://@Common.getContextUrl/getJobsForACriteria/scala+knoldus</u>
						</a>
					</p>
					<h3>Request Parameters[Optional]:</h3>
					<p><b>page</b> : Page requested. Default is 1 </p>
					<p><b>jobsPerPage</b> : Maximum number of results returned per query. Default is 50</p>
					<p><b>Request Example with parameters</b> : <b><a onclick=open_win('http://@Common.getContextUrl/getJobsForACriteria/scala+knoldus?page=1&jobsPerPage=50') href="javascript:void(0);">
								<u>http://@Common.getContextUrl/getJobsForACriteria/scala+knoldus?page=1&jobsPerPage=50</u>
						</a></b>
					<h3>Response Example:</h3>
					<p>
					<pre>[
{
"jobId":"50eba94fe4b071ca46b51ad0",
"position":"Senior Consultant",
"company":"Knoldus Software LLP",
"location":"New Delhi",
"jobType":"Permanent",
"contactAddress":"resume[at]knoldus.com",
"skillsRequired":[
"Scala",
" Akka",
" Play"
],
"description":"<p>As a Scala Consultant, your role will be to develop software systems that support high-order computational analysis of rich scientific / organizational data for analytics......</p>",
"datePosted":"2013-01-08T05:06:23Z",
"contactType":"email"
}
]
					</pre>
					</p>
					<h3>Error Response :</h3>
					<p>
						{<br /> "alertType":"No Result Found",<br /> "message":"Your
						search did not match with any exist job."<br /> }
					</p>
					<h3>Authentication Required:</h3>
					No
				</div>

			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading headingRow">
				<a class="accordion-toggle" data-toggle="collapse"
					data-parent="#accordion2" href="#collapseThree">
					<h2>To Get Job Description Json Via JobId</h2>
				</a>
			</div>
			<div id="collapseThree" class="accordion-body collapse"
				style="height: 0px;">
				<div class="accordion-inner">
					<h3>REST Endpoint(URL) :</h3>
					</b>
					<p>http://Host:Port/URL/[JOB_ID]</p>
					<h3>HTTP Method:</h3>
					<p>GET</p>
					<h3>Request Example :</h3>
					<p>
						<a onclick=open_win('http://@Common.getContextUrl/getJobDetail/50eba94fe4b071ca46b51ad0') href="javascript:void(0);">
							<u>http://@Common.getContextUrl/getJobDetail/50eba94fe4b071ca46b51ad0</u>
						</a>
					</p>
					<h3>Response Example:</h3>
					<p><pre>[
{
"jobId":"50eba94fe4b071ca46b51ad0",
"position":"Senior Consultant",
"company":"Knoldus Software LLP",
"location":"New Delhi",
"jobType":"Permanent",
"contactAddress":"resume[at]knoldus.com",
"skillsRequired":[
"Scala",
" Akka",
" Play"
],
"description":"<p>As a Scala Consultant, your role will be to develop software systems that support high-order computational analysis of rich scientific / organizational data for analytics......</p>",
"datePosted":"2013-01-08T05:06:23Z",
"contactType":"email"
}
]
					</pre>


					<h3>Error Response :</h3>
					<p>
						{<br /> "alertType":"No Result Found",<br /> "message":"No Job
						Exist"<br /> }
					</p>
					<h3>Authentication Required:</h3>
					No
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
   $("#collapseOne").collapse('show')
</script>
</div>
}
