@(signUpForm: Form[SignUpForm],userId:String,flag:String) 
@import helper._ 
@main("Welcome to ScalaJobz.com",userId) {

<div id="homewhite">
	<div class="page">
		<h1>Register on  ScalaJobz.com</h1>
		<div class="border-center">
			<div class="box">
				<div class="bordered">
					<p class="text-info">
						It's very easy to register with <b>scalajobz.com </b>
					</p>
				</div>
			</div>

			<div class="box">
				<div class="bordered">
					<h2 class="box-heading">New User</h2>
					<form id="signup-form" action="/signup/@flag" method="post">
						<div class="control-group">
							<label class="control-label" for="EmailId">Email</label>
							<div class="controls">
								<input id="EmailId" name="EmailId" type="text" placeholder="Email address" class="input-large"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="Password">Password</label>
							<div class="controls">
								<input id="Password" name="Password" type="password" placeholder="Password" class="input-large"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="ConfirmPassword">Confirm Password</label>
							<div class="controls">
								<input name="ConfirmPassword" type="password" id="ConfirmPassword"	placeholder="Confirm Password" class="input-large"/>
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<input type="submit" value="Sign Up" class="btn btn-primary" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

}
